.productDiv {
    background-color: rgb(242, 242, 242);
    margin: auto;
    width: 90%;
}

button.selected {
    background-color: #4caf50; /* Green background */
    color: white; /* White text */
}
/* 
h2 {
    margin: auto;
    width: 20%;
    padding: 10px;
} */