.navbar-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    height: 140px;
}

.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.cart-quantity {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 11px;
    font-size: 16px;
    position: absolute;
    bottom: 1px;
    left: 54px;
}

.nav-link {
    margin-right: 90px
}

