.dropdown-link {
  padding-bottom: 0;
  padding-top: 0;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  background-color:rgb(213, 213, 213) ;
}

.container-fluid {
  padding-top: 5px;
}

.row {
  padding-bottom: 2px;
}

.row > div {
  border: 1px solid black;
}

.row > div.no-border {
  border: none;
}

.logo {
  color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  font-size:x-large;
}

footer {
  background-color: #515151;
  padding: 1px;
  text-align: center;
  /* position: sticky; */
  bottom: 0;
  width: 100%;
  color: rgb(203, 202, 202)
}
